Aagos
*.dSYM
*.json
*.gitignore
*.csv

# Ignore text files
*.txt
# Ignore launch files for hpcc created for testing purposes
*.qsub


Mut_Rate_2/BadRuns
misc/
maymes/
*.pdf

.ipynb_checkpoints/BoxPlotExample-checkpoint.ipynb

.ipynb_checkpoints/DataCleanStatFit-checkpoint.py

.ipynb_checkpoints/DataCleanStatFitRep-checkpoint.py

.ipynb_checkpoints/DataVis-checkpoint.ipynb

misc/TIMINGS

SegmentationFaultData/SegFaultRuns

# Ignore notes files
*.md

# Ignore images

*.png
